# Ignore samples directory
/Samples/
.DS_Store

# Ignore everything in the backend folder
/backend/*

# But keep backendUpload.py
!/backend/backendFileUpload.py

# Virtual Environment
/venv

#Pycache
__pycache__/